@{
    ViewData["Title"] = "Statistik";
}

<h2>Statistik</h2>
<select id="filterOwner">
    <option value=@true>Alla auktioner</option>
    <option value=@false>Mina auktioner</option>
</select>
<input type="month" value="2018-01" id="startDate" />
<input type="month" value=@DateTime.Now.ToString("yyyy-MM") id="endDate" />
<button class="btn btn-dark" id="searchChartBtn">Visa</button>
<br />

<hr />

<div class="row">
    <div class="col-12">
        <canvas id="statsChart" width="300" height="150"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" type="text/javascript"></script>
<script>

    /* Function from createing a bar chart */
    const createBarChart = (startingBids, maxBids, difference, labels) => {
        const ctx = document.getElementById("statsChart").getContext('2d');

        // Options for the bar chart
        const options = {
            legend: {
                display: true,
                labels: {
                    fontColor: 'black'
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Sek'
                    }
                }],
                xAxes: [
                {
                    scaleLabel: {
                        display: true,
                        labelString: 'Månad/År'
                    }
                }]
            }
        };

        //Create the chart
        const barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels,
                datasets: [{
                    label: 'Utgånspris',
                    data: startingBids,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Slutpris',
                    data: maxBids,
                    backgroundColor: 'rgba(45, 226, 226, 0.2)',
                    borderColor: 'rgba(45, 226, 226, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Skillnad',
                    data: difference,
                    backgroundColor: 'rgba(78, 221, 62, 0.2)',
                    borderColor: 'rgba(78, 221, 62, 1)',
                    borderWidth: 1
                }
                ]
            },
            options: options
        });
    };

    /* Get bar chart data from the server */
    const fetchData = () => {
        const startDate = $("#startDate").val();
        const endDate = $("#endDate").val();
        const fromAll = $("#filterOwner").val();

        if (!startDate || !endDate) {
            alert('Start- samt slutdatum måste väljas');
        }
        else if (startDate > endDate) {
            alert('Startdatum kan inte vara större än slutdatum');
        }
        else {
            $.ajax({
                url: '/Statistics/GetBarChart',
                type: 'Post',
                data: { fromAll: fromAll, startDate, endDate },
                success: result => {
                    if (result) {
                        const { sumStartingBids, sumMaxBids, difference, xLabels } = result;
                        createBarChart(sumStartingBids, sumMaxBids, difference, xLabels);
                    } else {
                        //Create an empty bar chart
                        createBarChart([], [], [], []);
                    }
                },
                error: result => {
                    alert('Lyckades inte ladda diagram');
                }
            });

        }
    };

    $(document).ready(() => {

        $("#searchChartBtn").click(() => {
            fetchData();
        });

        //Get data once when site loads
        fetchData();
    });

</script>