@using Microsoft.AspNetCore.Identity
@using Models.IdentityModels
@inject SignInManager<AppUser> SignInManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">AZ-Auktion</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="nav-item nav-link" href="#">Logga ut</a>
                    }
                    else
                    {
                        <a class="nav-item nav-link" asp-controller="Account" asp-action="Login">Logga in</a>
                    }
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
