@model _BidManage

<form method="post" asp-controller="Bid" asp-action="CreateBid" id="bidForm">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input hidden asp-for="AuktionID"/>
    <div class="form-group">
        <label asp-for="Summa"></label>
        <input asp-for="Summa" class="form-control"/>
        <span asp-validation-for="Summa"></span>
    </div>
</form>