@using Microsoft.AspNet.Identity
@model IList<_BidRead>

<div class="row">
    <div class="col-12">
        <h2 class="strong">Budhistorik</h2>
        <hr/>
        <ul class="pl-2 scrollable">
            @foreach (var bid in Model)
            {
                <li>
                    <i class="fas fa-hand-holding-usd"></i><span> @bid.Summa kr</span>
                    @if (bid.Budgivare == User.Identity.GetUserId())
                    {
                        <span class="text-green"> - Ditt bud</span>
                    }
                </li>
            }
            @if (Model.Count == 0)
            {
                <li>
                    Inga lagda bud
                </li>
            }
        </ul>
    </div>
</div>
