@model _AuctionManage

@{
    ViewData["Title"] = "Skapa Auction";
}

<div class="row pt-2">
    <div class="col-12">
        <h1>Ny auktion</h1>
        <form asp-controller="Auction" asp-action="CreateAuction" method="post">
            @{ Html.RenderPartial("_AuctionFormContent", Model);}
            <button type="submit" class="btn btn-dark ">Skapa auktion</button>
        </form>
    </div>
</div>
