@model IList<_AuctionRead>
@{
    ViewData["Title"] = "AZ-Auktioner";
}

<h2>Index</h2>

<input type="text" id="searchText" asp-all-route-data=""/>
<button type="button" id="searchBtn">Sök</button>

<select id="orderOptions">
    <option value=false>Slutdatum</option>
    <option value=true>Utropspris</option>
</select>

<div id="auctionList">
    @{Html.RenderPartial("_AuctionList", Model);}
</div>



<script>
    $(document).ready(function () {
        let lastSearch = "";

        const doSearch = searchText => {
            lastSearch = searchText;
            const orderByStartingPrice = $("#orderOptions").val();
            $.ajax({
                url: 'Auction/Search',
                type: 'Get',
                data: { searchTerm: searchText, orderByStartingPrice: orderByStartingPrice },
                success: result => {
                    $("#auctionList").html(result);
                },
                error: result => {
                    console.log("fail", result);
                }
            });
        };

        $("#searchBtn").click(() => {
            const searchText = $("#searchText").val();
            doSearch(searchText);
        });

        $("#orderOptions").change(function () {
            doSearch(lastSearch);
        });

    });
</script>